html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}

section {
    border: none;
    padding: 5px;
    border-radius: 1.5em;
    background-size: contain;
    background-color: rgba(227,192,150,.3);
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Righteous', cursive;
    color: aliceblue;
}

header {
    padding: 10px;
    text-align: center;
    background: rgba(80,177,199,.8);
    color: white;
    font-size: 20px;
}

h2 {
    color: #5076C7;
    text-decoration: #50C3C7 underline;
}

.fancy-header {
    color: #E3C096;
    text-decoration: underline;
}

.aboutUs {
    text-align: center;
    column-count: 3;
    }

#videoBG {
    position:fixed;
    z-index: -1;
}

.aboutUs li {
    list-style: none;
}

#TopofPage {
    position: fixed;
    top: 45em;
    margin-left: 90%;
    background-color: #50B1C7;
    color: #FFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
    vertical-align: center;
}

table {
    width: 80%
}

tr:hover {
    background-color: #50C3C7;
}

a:hover {
    opacity: 0.2;
}

a:visited {
    color: pink;
}

a:active {
    color: #FF1493;
    text-decoration: line-through;
}

img:hover {
    opacity: 0.2;
}

#videoBackground {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBackground {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBackground {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBackground {
        display: none;
    }
    body {
        background: url('../img/Screenshot.png');
        background-size: cover;
    }

